<div class="container">
  <form class="jumbotron">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <p class="mb-1">Sexo:</p>
      <input class="mr-1" type="radio" id="Masculino" name="Masculino" value="Masculino">
      <label class="mr-3" for="Masculino">Masculino</label>
      <input class="mr-1" type="radio" id="Feminino" name="Feminino" value="Feminino">
      <label for="Feminino">Feminino</label>
    </div>

    <button type="submit" class="mr-2 btn btn-success">Salvar</button>
    <button type="submit" class="btn btn-light">Limpar</button>
  </form>
</div>